<div class="create background-container">
    <div class="card-container">
        <div class="card">

            <h3>
                Create your user profile!
            </h3>
            <form method="POST" action="/user/edit" id="usrform" encType="multipart/form-data">


                <input class="text" type="text" name="username" placeholder="username">
                <input class="text" type="email" name="email" placeholder="email"><br>

                <textarea type="text" form="usrform" name="presentation" placeholder="presentation"></textarea><br>
                <input class="text" type="text" name="hobbies" placeholder="hobbies"><br>
                <input class="text" type="text" name="city" placeholder="city"><br>
                <input class="text" type="text" name="relationship_status" placeholder="relationship_status"><br>
                <label for="picture">Picture</label>
                <input class="text" type="file" name="picture" placeholder="picture"><br>
                <input class="button1" type="submit" name="" id="submit">
            </form>
        </div>
    </div>
</div>