<h3>Create your company profile!</h3>
<form method="POST" action="/company/edit">

    <input type="text" name="name" placeholder="name"><br>
    <input type="file" name="picture" placeholder="picture"><br>
    <input type="text" name="type" placeholder="type"><br>
    <textarea type="text" name="presentation" placeholder="presentation"></textarea><br>
    <input type="text" name="city" placeholder="city"><br>
    <input type="text" name="website" placeholder="website"><br>

    <input type="submit" name="" id="submit">
</form>