<div class="card">

    <h2>Create your company profile!</h2>
    <form method="POST" action="/company/edit" id="usrform" encType="multipart/form-data">

        <input type="text" name="username" placeholder="name"><br>
        <input type="email" name="email" placeholder="email"><br>

        <input type="text" name="type" placeholder="type"><br>
        <textarea type="text" form="usrform" name="presentation" placeholder="presentation"></textarea><br>
        <input type="text" name="city" placeholder="city"><br>
        <input type="text" name="website" placeholder="website"><br>
        <input type="file" name="picture" placeholder="picture"><br>
        <input class="button1" type="submit" name="" id="submit">
    </form>
</div>