<h3>Add your Event</h3>
<form method="POST" action="/event/edit/">

    <input type="text" name="title" placeholder="title"><br>
    <input type="text" name="type" placeholder="type"><br>
    <input type="text" name="date" placeholder="date"><br>
    <textarea type="text" name="description" placeholder="description"></textarea><br>
    <input type="text" name="venue" placeholder="venue"><br>
    <input type="text" name="city" placeholder="city"><br>
    <input type="text" name="attendees" placeholder="attendees"><br>

    <input type="submit" name="" id="submit">
</form>