<div class="container dash-container">
    

        <br>
<br>
<h1> Hey, {{user.username}}! What are you up to?
</h1>  <a href="/event/create" class="btn create-btn"><i class="fas fa-plus"></i></a>
<div id="tag-wrapper">
    <h3>Filter</h3>
   
    <a href="/dashboard/Cinema">Cinema</a>
    <a href="/dashboard/Theatre">Theatre</a>
    <a href="/dashboard/Concert">Music</a>
    <a href="/dashboard/Art">Art</a>
    <a href="/dashboard/Other">Other</a>
    <a href="/dashboard">All</a>
 
</div>

    <div id="event-wrap">
        {{#each events}} {{> eventPartials this}} {{/each}}
    </div>



</div>