<br>
<br>
<h1> Hey, {{user.username}}! What are you up to?
</h1>
<div id="tag-wrapper">
    <h3>Filter</h3>
    {{#each events}}
    <a href="/dashboard/{{this.type}}">{{this.type}}</a>
    {{/each}}

</div>
<div class="event-container">
    <div id="event-wrap">
        {{#each events}} {{> eventPartials this}} {{/each}}
    </div>

</div>

<a href="/event/create"><button type="button">+</button></a>