<div class="card-container">
    <section class="pic background-container">

<br>

        <b><h2 class="MeetArt">MeetArt</h2></b>

 <h3 style="color:white;">connect and get together!</h3>
 <br>
        <form>
            <input class="logbutton" type="button" value="I am a company" onclick="window.location.href='/auth/signupcomp'" />
        </form>
        <br>
        <br>
        <form>
            <input class="logbutton" type="button" value="I am a person" onclick="window.location.href='/auth/signup'" />
        </form>

    </section>
</div>