<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
</head>


<body leftmargin="0" topmargin=0 " rightmargin="0 " bottommargin="0 " marginwidth="0 " marginheight=0">
  <nav>
    <h1 class="paddit"><a href="/dashboard">{{title}}</a></h1>
    <div class="menu-list"> <a href="/dashboard">SEE EVENTS |</a>

      <a href="/profile">{{user.username}}</a>


      |
      <a href=" /auth/logout ">
        LOG OUT

      </a></div>
  </nav>
<div class="content">
    {{{body}}}
</div>

  </div>
  <script src='/javascripts/script.js'></script>
</body>

</html>