body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}
nav {
    position: absolute;
    padding: 0.5vh 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    width: 100vw;
    border-bottom: 2px solid black;
    .nav {
    }
}
#body-container {
    top: 3vh;
    padding: 16px;
    position: relative;
}
.event-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.eventPartial {
    padding: 2vh 1vw;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    h2 a {
        text-decoration: none;
        color: white;
        font-weight: 700;
    }
}
.btn {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 18px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.img-circle {
    object-fit: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.title {
    color: grey;
    font-size: 18px;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 51, 153);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.a2 {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.link {
    color: blue;
    text-decoration: underline;
}

.text {
    width: 90%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 88%;
    height: 150px;
}

input[type="email"] {
    width: 90%;
    padding: 12px 20px;
    padding-right: 10px;
    box-sizing: border-box;
}
